.block {
    display: none;
}

.support {
    display: block;
}

@media only screen and (min-width: 780px) and (min-height: 870px) {
    .support {
        display: none;
    }

    body.thenotorious {
        overflow: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block {
        display: block;
        padding: 2%;
        max-width: 100%;
        max-height: 90%;
        height: auto;
        width: 70%;
        background-color: rgba(25, 25, 138, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        overflow: hidden;
        overflow-y: auto;
    }

    .block > .start {
        text-align: center;
        user-select: none;
    }

    .block .body {
        width: 100%;
        padding: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .block .body > h3 {
        font-size: 20px;
        text-transform: capitalize;
    }

    .block .body > h3 {
        font-size: 26px;
        text-transform: capitalize;
    }

    .block .body .text {
        width: 70%;
        margin: auto;
        color: white;
        font-size: 18px;
    }

    .block > .end > input {
        width: 15%;
        height: 40px;
        border-radius: 12px;
        border: none;
        background-color: rgba(0,100,255, 0.9);
        font-size: large;
        color: white;
        font-weight: bold;
        margin-top: 15px;
        transition: .25s ease;
    }
    .block .end {
        width: 100%;
        user-select: none;
        padding: 10px;
    }

    .end > input:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(52, 133, 255, 0.9);
        transition: .35s ease;
    }

    .end > input:active {
        transform: scale(.95);
        transition: .45s ease;
    }
}